.DS_Store
_no_lecture/
.vscode/
venv/
secrets/
static/
staticfiles/
config/__pycache__/
config/__init__.pyc
config/settings.pyc
blog/__pycache__/
blog/migrations/__pycache__/
mysite/__pycache__/
mysite/migrations/__pycache__/
mysite/models/__pycache__/
memo.yaml
db.sqlite3
.gcloudignore